<section class="my-6">
  <div class="mb-2 flex justify-between items-center">
    <div>
      <h2 class="text-md font-semibold"><%= modification.name %></h2>
      <h3 class="text-xs text-gray-700">Select up to <%= modification.max_options %></h3>
    </div>
    <div>
      <h3 class="text-sm text-gray-500"><%= modification.required ? "Required" : "Optional" %></h3>
    </div>
  </div>
  <ul class="">
    <%= render modification.modification_options %>
  </ul>
</section>
