<li class="pl-4 pr-12 py-6 border border-gray-200 rounded-md hover:shadow-md hover:cursor-pointer">
  <div class="font-bold text-lg"><%= menu_item.name %></div>
  <div class="font-light text-sm text-gray-700"><%= menu_item.description %></div>
  <div class="font-semibold text-md text-gray-700"><%= format_price menu_item.price %></div>
</li>
