<header class="border-b border-grey-400">
  <div class="<%= "p-4 flex flex-col sm:flex-row items-center space-y-2 sm:justify-between #{ logged_in? ? "bg-white" : "bg-red-800" }" %>">
    <div class="sm:w-64"></div>
    <div class="flex-1 flex justify-center items-center space-y-2">
      <%= link_to render(partial: "logo"), root_path %>
    </div>
    <div class="sm:w-64 flex justify-end">
      <% unless current_page?(login_path) or current_page?(register_path) %>
        <% if logged_in? %>
          <%= render partial: "carts/preview", locals: { cart: current_cart } %>
        <% else %>
          <a href="/login" class="block text-white text-sm px-4 py-2">Sign In</a>
          <a href="/register" class="block bg-white text-sm px-4 py-2 rounded-full">Sign Up</a>
        <% end %>
      <% end %>
    </div>
  </div>
</header>
