<div class="<%= "text-3xl #{ logged_in? ? "text-red-500" : "text-white" }" %>">
  <span class="font-light">food</span><span class="font-bold">conveyer</span><span class="font-light text-gray-300">coop</span>
</div>